.columns > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columns img {
  width: 100%;
}

.columns strong {
  font-family: var(--dm-font-family);
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 768px) {
  .columns > div {
    align-items: stretch;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns > div:first-child > div > :first-child {
    margin-top: 0;
  }

  .columns > div:last-child > div > :last-child {
    margin-bottom: 0;
  }
}

.section.columns-slide-image-from-right-container {
  overflow-x: hidden;
}

.section.columns-slide-image-from-left-container {
  overflow-x: hidden;
}

.columns.slide-image-from-left :is(.columns-left, .columns-single) {
  width: 100%;
}

.columns.slide-image-from-right :is(.columns-right, .columns-single) {
  width: 100%;
}

.columns.slide-image-from-left
  :is(.columns-left, .columns-single)
  :is(img) {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.columns.slide-image-from-left
  :is(.columns-left, .columns-single)
  :is(img).enter {
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 0.9s;
  animation-name: fade-in-left;
}

.columns.slide-image-from-right
  :is(.columns-right, .columns-single)
  :is(img) {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.columns.slide-image-from-right
  :is(.columns-right, .columns-single)
  :is(img).enter {
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-name: fade-in-right;
}

@media (min-width: 768px) {
  .columns.slide-image-from-left :is(.columns-left, .columns-single) {
    width: unset;
    align-self: flex-end;
  }

  .columns.slide-image-from-right :is(.columns-right, .columns-single) {
    width: unset;
    align-self: flex-end;
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

.columns .columns-col {
  position: relative;
}

.columns .columns-col > h6 ~ p {
  margin: 0;
}

.columns h6 {
  font-family: var(--body-font-family);
  font-weight: 400;
  line-height: 1.6;
  font-size: var(--body-font-size-xs);
  color: var(--background-color);
  scroll-margin: 0;
  position: absolute;
  display: block;
  margin: 0;
  z-index: 1;
}

.columns h6 strong {
  font-family: var(--body-font-family);
  font-weight: 400;
  color: var(--text-color);
}

.columns .columns-single h6 {
  margin-bottom: 8px;
  bottom: 0;
  width: 100%;
  text-align: center;
  right: 0;
}

.columns .columns-right h6 {
  bottom: 8px;
  width: 80%;
  margin: auto;
  right: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .columns .columns-single h6 {
    font-size: var(--body-font-size-s);
    margin-bottom: 14px;
    text-align: right;
    right: 105px;
  }

  .columns .columns-right h6 {
    font-size: var(--body-font-size-s);
    bottom: 18px;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .columns .columns-right h6 {
    width: 65%;
  }
}

.columns .button-container .button.primary {
  line-height: 27px;
  font-family: var(--columns-button-family);
  font-size: var(--body-font-size-s);
  background-color: var(--columns-button-color);
  color: var(--text-color);
  padding: 10px 39px;
  margin: 0;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .columns .button-container .button.primary {
    padding: 14px 24px;
  }
}

@media (min-width: 992px) {
  .columns .button-container .button.primary {
    padding: 14px 39px;
  }
}

.section.resource-faq .columns {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}

.section.resource-faq .columns strong {
  font-family: var(--strong-font-family);
}

.section.resource-faq .columns > div > div img {
  width: auto;
  height: 298px;
  margin-left: auto;
  margin-right: auto;
}

.section.resource-faq .columns p {
  text-align: center;
}

.section.saving-program .columns .columns-row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.section.saving-program .columns .columns-left {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 170px;
}

.section.saving-program .columns .columns-left img {
  max-width: 170px;
  margin-left: auto;
  margin-right: 0;
  margin-bottom: 6px;
}

.section.saving-program .columns .columns-right h3 {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 20px;
}

.section.saving-program {
  margin: 0;
  padding: 25px 25px 20px;
  background: var(--conditions-background-color);
}

.section.saving-program .default-content-wrapper {
  font-size: var(--body-font-size-xxxs);
  line-height: 14px;
  color: var(--text-color);
}

.section.saving-program .default-content-wrapper p {
  margin-top: 0;
  margin-bottom: 8px;
}

.section.saving-program .default-content-wrapper strong {
  font-family: var(--dm-font-family);
}

.section.saving-program .default-content-wrapper a {
  text-decoration: underline;
  color: var(--text-color);
  font-family: var(--dm-font-family);
}

.section.saving-program .default-content-wrapper h6 {
  font-size: 14px;
}

@media (min-width: 768px) {
  .section.saving-program .columns .columns-left {
    text-align: left;
    max-width: 30%;
  }

  .section.saving-program .columns .columns-left img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    max-width: 223px;
  }

  .section.saving-program .columns .columns-right h3 {
    font-size: 20px;
    line-height: 26px;
  }

  .section.saving-program .columns .columns-row {
    width: 85%;
  }

  .section.saving-program {
    margin: auto;
    padding: 0 24px;
    max-width: 1200px;
    background: var(--conditions-background-color);
    background-clip: content-box;
  }

  .section.saving-program > div {
    padding-left: 25px;
    padding-right: 20px;
  }

  .section.saving-program > div:first-of-type {
    padding-left: 20px;
    padding-top: 30px;
  }

  .section.saving-program > div:last-of-type {
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .section.saving-program .columns .columns-right h3 {
    font-size: 23px;
    line-height: 32px;
  }
}

.section.treat-talk .columns li::marker {
  color: var(--list-marker-color);
}

.section.treat-talk .columns .columns-col {
  margin-left: auto;
  margin-right: auto;
  flex: 1;
  order: unset;
}

.section.treat-talk .columns .columns-middle {
  width: 100%;
  min-height: 40px;
}

.section.treat-talk .columns .columns-middle img {
  max-width: 375px;
  width: 100%;
  height: 5px;
  transform: translateY(15px);
}

.section.treat-talk .columns h1 {
  font-size: 30px;
}

.section.treat-talk .columns h2 {
  font-size: 21px;
}

.section.treat-talk .columns .columns-left h3 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.section.treat-talk .columns li:not(:last-child) {
  margin-bottom: 8px;
}

.section.treat-talk .columns p {
  margin-top: 0;
  margin-bottom: 12px;
}

.section.treat-talk .columns .columns-right {
  text-align: center;
}

.section.treat-talk .columns .columns-right p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section.treat-talk .columns .columns-right h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 340px;
}

.section.treat-talk .columns .columns-right img {
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.section.treat-talk .columns .columns-right p picture {
  margin-left: auto;
  margin-right: auto;
}

.section.treat-talk .columns .columns-right .button-container {
  margin-top: 33px;
}

@media (min-width: 768px) {
  .section.treat-talk .columns h2 {
    font-size: var(--heading-font-size-l);
  }

  .section.treat-talk .columns h3 {
    font-size: var(--heading-font-size-l);
    margin-bottom: 34px;
  }

  .section.treat-talk .columns li:not(:last-child) {
    margin-bottom: 12px;
  }

  .section.treat-talk .columns .columns-right h2 {
    max-width: 350px;
  }

  .section.treat-talk .columns .columns-right img {
    max-width: 305px;
  }

  .section.treat-talk .columns .columns-middle {
    max-width: 5px;
  }

  .section.treat-talk .columns .columns-middle img {
    position: absolute;
    width: 408px;
    max-width: 408px;
    transform: translateX(-50%) rotate(90deg) translateX(50%) translateY(-25px);
  }

  .section.treat-talk .columns .columns-right .button-container {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .section.treat-talk .columns h1 {
    font-size: var(--heading-font-size-xxl);
  }

  .section.treat-talk .columns .columns-middle img {
    transform: translateX(-50%) rotate(90deg) translateX(50%) translateY(-50px);
  }
}
