.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 990px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.section.columns-slide-image-from-left .columns :is(.columns-left, .columns-single) :is(img) {
  opacity: 0;
  transform: translate3d(100%,0,0);
}

.section.columns-slide-image-from-left .columns :is(.columns-left, .columns-single) :is(img).enter {
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-name: fade-in-left;
}

.section.columns-slide-image-from-right .columns :is(.columns-right, .columns-single) :is(img) {
  opacity: 0;
  transform: translate3d(100%,0,0);
}

.section.columns-slide-image-from-right .columns :is(.columns-right, .columns-single) :is(img).enter {
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 1.2s;
  animation-name: fade-in-right;
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0)
  }

  100% {
    opacity: 1;
    transform: translateZ(0)
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0)
  }

  100% {
    opacity: 1;
    transform: translateZ(0)
  }
}

.columns .columns-col:has(h6) {
  position: relative;
}

.columns .columns-col:has(h6) p {
  margin: 0;
}

.columns h6 {
  font-family: var(--body-font-family);
  font-weight: 400;
  line-height: 1.6;
  font-size: var(--body-font-size-xs);
  color: var(--background-color);
  scroll-margin: 0;
  position: absolute;
  display: block;
  margin: 0;
  z-index: 1;
}

.columns h6 strong {
  font-family: var(--body-font-family);
  font-weight: 400;
  color: var(--text-color);
}

.columns .columns-single h6 {
  margin-bottom: 8px;
  bottom: 0;
  width: 100%;
  text-align: center;
  right: 0;
}

.columns .columns-right h6 {
  bottom: 8px;
  width: 80%;
  margin: auto;
  right: 0;
  text-align: center;
}

@media (min-width: 990px) {
  .columns .columns-single h6 {
    font-size: var(--body-font-size-s);
    margin-bottom: 14px;
    text-align: right;
    right: 105px;
  }

  .columns .columns-right h6 {
    font-size: var(--body-font-size-s);
    bottom: 18px;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .columns .columns-right h6 {
    width: 65%;
  }
}

.columns .button-container .button.primary {
  line-height: 27px;
  font-family: var(--columns-button-family);
  font-size: 18px;
  background-color: var(--columns-button-color);
  color: var(--text-color);
  padding: 15px 40px;
  margin: 0;
  text-transform: uppercase;
}

.section.treat-talk .columns li::marker {
  color: var(--list-marker-color);
}

.section.treat-talk .columns .columns-row {
  align-items: start;
}

.section.treat-talk .columns .columns-col {
  align-items: start;
  margin-left: auto;
  margin-right: auto;
}

.section.treat-talk .columns h1 {
  margin-top: 0;
}

.section.treat-talk .columns h3 {
  margin-top: 15px;
  margin-bottom: 34px;
}

.section.treat-talk .columns p {
  margin-top: 0;
  margin-bottom: 12px;
}

.section.treat-talk .columns .columns-right {
  text-align: center;
}

.section.treat-talk .columns .columns-right p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section.treat-talk .columns .columns-right h2 {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 350px;
}

.section.treat-talk .columns .columns-right img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.section.treat-talk .columns .columns-right p picture {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 990px) {
  .section.treat-talk .columns h1 {
    font-size: 30px;
  }

  .section.treat-talk .columns h2 {
    font-size: 21px;
  }

  .section.treat-talk .columns h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .section.treat-talk .columns p, li {
    font-size: 16px;
  }
}

.section.saving-program .columns .columns-row {
  width: 100%;
  align-items: start;
  margin-left: auto;
  margin-right: auto;
}

.section.saving-program .columns .columns-left {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 170px;
}

.section.saving-program .columns .columns-left img {
  max-width: 170px;
  margin-left: auto;
  margin-right: 0;
  ;
}

.section.saving-program .columns .columns-right h3 {
  margin-top: 0;
  font-size: 15px;
}

.section.saving-program {
  margin: 0;
  padding: 25px 20px;
  background: var(--conditions-background-color);
}

.section.saving-program .default-content-wrapper {
  font-size: 12px;
  line-height: 14px;
  color: var(--text-color);
}

.section.saving-program .default-content-wrapper a {
  text-decoration: underline;
  color: var(--text-color);
}

.section.saving-program .default-content-wrapper h6 {
  font-size: 14px;
}

@media (min-width: 990px) {
  .section.saving-program .columns .columns-left img {
    margin-left: auto;
    margin-right: auto;
  }

  .section.saving-program .columns .columns-left {
    text-align: left;
    max-width: 170px;
  }

  .section.saving-program .columns .columns-right h3 {
    font-size: 23px;
  }

  .section.saving-program .columns .columns-row {
    width: 75%;
  }

  .section.saving-program {
    margin: 64px 32px;
    background: var(--background-color);
  }

  .section.saving-program div {
    margin: auto;
    max-width: 1200px;
    padding: 30px 15px 15px;
    background: var(--conditions-background-color);
  }
}
