main .carousel-container {
  padding: 0;
}

main div.carousel-wrapper {
  width: 100%;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}


main .carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;

}

main .carousel-item { 
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

.carousel-item-image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  margin-bottom: -5px;
  margin-top: 0;
  border: none;
  display: block;
}

main .carousel-item-columns-container {
  display: flex;
}

main .carousel-item .button-container {
  display: none;
}

main .carousel-item.selected .button-container {
  display: inline-block;
  position: absolute;
  bottom: 16%;
  left: 22%;
}

.carousel-item-column
.button-container .button.primary {
  line-height: 25px;
  font-family: var(--find-doctor-font-family);
  font-size: 16px;
  background-color: var(--clr-green);
  padding: 10px 20px;
  text-transform:uppercase;
}

main .carousel-dot-buttons {
  position: absolute;
  bottom: 0%;
  left: 50%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

main .carousel-dot-button {
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

main .carousel-dot-button.selected {
  background-color: var(--clr-green);;
}

main .carousel-nav-button {
  position: absolute;
  background-color: transparent;
  height: 100px;
  z-index: 99;
  top: 50%;
  transform: translate(0, -50%);
}

main .carousel-nav-left {
  left: 3%;
  background: url('../../icons/left-arrow.png') no-repeat left;
}

main .carousel-nav-right {
  right: 3%;
  background: url('../../icons/right-arrow.png') no-repeat right;
}