main .carousel-container {
  padding: 0;
}

main .carousel-container:not(.green-box) {
  width: auto;
}

main div.carousel-wrapper {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

main .carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

main .carousel-item {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  flex: 1 0 auto;
}

.carousel-item-image p {
  margin: 0;
}

.carousel-item-image picture.desktop {
  display: none;
}

.carousel-item-image picture.mobile {
  display: block;
  width: 100%;
}

.carousel-item-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-bottom: -5px;
  margin-top: 0;
  border: none;
  display: block;
}

main .carousel-item .button-container {
  display: inline-block;
  position: absolute;
}

main .carousel-item[data-index='0'] .button-container {
  bottom: 7%;
  left: 7%;
}

main .carousel-item[data-index='1'] .button-container {
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
}

main .carousel-item[data-index='2'] .button-container {
  bottom: 30%;
  left: 8%;
}

main .carousel-item[data-index='3'] .button-container {
  bottom: 29%;
  left: 6%;
}

main .carousel-item[data-index='2'] .button-container .button,
main .carousel-item[data-index='3'] .button-container .button {
  padding: 12px;
  font-size: 10px;
}

.carousel-item-column .button-container .button.primary {
  line-height: 1.2;
  font-family: var(--find-doctor-font-family);
  font-size: 12px;
  background-color: var(--clr-green);
  margin: 0;
  padding: 12px 20px;
  border: 0;
  text-transform: uppercase;
}

main .carousel-dot-buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  display: flex;
  justify-content: center;
  gap: 10px;
  transform: translateX(-50%);
}

main .carousel-dot-button {
  height: 12px;
  width: 12px;
  margin: 0;
  border: 0;
  background-color: #fff;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  box-shadow: 3px -2px 6px 2px rgb(0 0 0 / 20%);
}

main .carousel-dot-button.selected {
  background-color: var(--clr-green);
}

.carousel-nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 100%;
  transform: translateY(-50%);
}

main .carousel-nav-button {
  width: 6%;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.carousel-nav-button .icon {
  display: block;
  width: auto;
  height: auto;
  max-width: 55px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 55 / 80; /* the arrow image is 55px by 80px */
}

.carousel-nav-button svg {
  display: none;
}

main .carousel-nav-left .icon {
  background-image: url('../../icons/left-arrow.png');
}

main .carousel-nav-right .icon {
  background-image: url('../../icons/right-arrow.png');
}

/* Green Box Carousel */

main .section.green-box.carousel-container {
  margin: 30px auto 90px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #fff;
  text-align: center;
  box-shadow: 19px 5px 16px -13px rgb(0 0 0 / 48%);
}

main .section.green-box.carousel-container .carousel {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

main .section.green-box.carousel-container .default-content-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 15px 0 10px;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background-color: var(--clr-green);
}

main .section.green-box.carousel-container .default-content-wrapper p {
  padding: 0 10px;
  margin: 0;
}

@media (max-width : 767px )  {
  .green-box.carousel-container .default-content-wrapper p {
    font-size: 14px; /* size is different than default <p> only on tablet down */
  }
}

main .section.green-box.carousel-container h4 {
  margin: 0 0 3px;
  vertical-align: baseline;
}

main .section.green-box.carousel-container .carousel-nav-button {
  width: 8.5%;
}

main .section.green-box.carousel-container .carousel-dot-buttons {
  bottom: -40px;
  display: flex;
  gap: 40px;
}

main .section.green-box.carousel-container .carousel-dot-button.selected {
  background-color: var(--clr-yellow);
  border: 1px solid var(--clr-dark-grey);
}

main .section.green-box.carousel-container .carousel-dot-button {
  box-shadow: 3px -2px 6px 2px #0003;
  width: 22px;
  height: 22px;
  border: 1px solid var(--clr-dark-grey);
}

@media (min-width: 768px) {
  .carousel-item-image picture.desktop {
    display: block;
  }

  .carousel-item-image picture.mobile {
    display: none;
  }

  main .carousel-dot-buttons {
    gap: 20px;
  }

  main .carousel-dot-button {
    height: 20px;
    width: 20px;
  }

  main .carousel-item .button-container {
    bottom: 16%;
    left: 22%;
  }

  main .carousel-item[data-index='0'] .button-container {
    bottom: 2%;
    left: 8%;
  }

  main .carousel-item[data-index='1'] .button-container {
    bottom: 12%;
    left: 16%;
    transform: none;
  }

  main .carousel-item[data-index='2'] .button-container {
    bottom: 18%;
    left: 14%;
  }

  main .carousel-item[data-index='3'] .button-container {
    bottom: 16%;
    left: 14%;
  }

  main .carousel-item-column .button-container .button.primary {
    font-size: 20px;
    line-height: 25px;
    padding: 12px 25px;
  }

  main .carousel-item[data-index='2'] .button-container .button,
  main .carousel-item[data-index='3'] .button-container .button {
    padding: 12px 20px;
    font-size: 16px;
  }

  .carousel-item-image img {
    height: auto;
  }

  main .carousel-nav-left {
    left: 2%;
  }

  main .carousel-nav-right {
    right: 2%;
  }

  /* Green Box Carousel */

  main .section.green-box.carousel-container {
    margin-top: 100px;
    margin-bottom: 120px;
  }

  main .section.green-box.carousel-container .default-content-wrapper {
    padding: 35px 0 25px;
  }

  main .section.green-box.carousel-container .default-content-wrapper p {
    padding: 0;
  }

  main .section.green-box.carousel-container h4 {
    margin: 0 0 12px;
  }

  main .section.green-box.carousel-container .carousel-dot-buttons {
    gap: 80px;
    bottom: -70px;
  }

  main .section.green-box.carousel-container .carousel-dot-button {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 992px) {
  main .carousel-item-column .button-container .button.primary {
    font-size: 22px;
    padding: 14px 50px;
  }

  main .carousel-item[data-index='2'] .button-container {
    left: 17%;
  }

  main .carousel-item[data-index='3'] .button-container {
    bottom: 18%;
    left: 16%;
  }

  main .carousel-item[data-index='2'] .button-container .button,
  main .carousel-item[data-index='3'] .button-container .button {
    padding: 14px 20px;
    font-size: 18px;
  }

  /* Green Box Carousel */

  main .section.green-box.carousel-container h4 br,
  main .section.green-box.carousel-container .default-content-wrapper p br {
    content: ''; /* remove the new line, but keep it visible - the result will be collapsed lines, with no space (fix below) */
  }

  main .section.green-box.carousel-container h4 br::after,
  main .section.green-box.carousel-container .default-content-wrapper p br::after {
    content: ' '; /* add a space between the collapsed lines */
  }
}

@media (min-width: 1200px) {
  main .carousel-item-column .button-container .button.primary {
    font-size: 22px;
    padding: 14px 50px;
  }

  main .carousel-item[data-index='0'] .button-container {
    bottom: 5%;
    left: 11%;
  }

  main .carousel-item[data-index='1'] .button-container {
    bottom: 13%;
    left: 20%;
  }

  main .carousel-item[data-index='2'] .button-container {
    left: 17%;
    bottom: 22%;
  }

  main .carousel-item[data-index='3'] .button-container {
    bottom: 20%;
    left: 16%;
  }

  main .carousel-item[data-index='2'] .button-container .button,
  main .carousel-item[data-index='3'] .button-container .button {
    padding: 14px 20px;
    font-size: 22px;
  }
}

@media (min-width: 1366px) {
  main .carousel-item[data-index='0'] .button-container {
    bottom: 6%;
    left: 12%;
  }

  main .carousel-item[data-index='1'] .button-container {
    bottom: 16%;
    left: 22%;
  }

  main .carousel-item[data-index='2'] .button-container {
    left: 19%;
    bottom: 24%;
  }
}
