/* stylelint-disable custom-property-pattern */

/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* || Fallback fonts */

@font-face {
  font-family: 'ITCAvantGardeGothicW01-Bold-Fallback';
  src: local('Arial');
  size-adjust: 112%;
  ascent-override: 95%;
  descent-override: 21%;
  line-gap-override: 0%;
}

@font-face {
  font-family: 'ITCAvantGardeGothicW01-Demi-Fallback';
  src: local('Arial');
  size-adjust: 105%;
  ascent-override: 95%;
  descent-override: 17%;
  line-gap-override: 0%;
}

@font-face {
  font-family: 'ITCAvantGardeGothicW01-DmObl-Fallback';
  src: local('Arial');
  size-adjust: 104%;
  ascent-override: 89%;
  descent-override: 17%;
  line-gap-override: 12%;
}

@font-face {
  font-family: 'FeltTipRomanW01-Reg-Fallback';
  src: local('Times New Roman');
  size-adjust: 100%;
  ascent-override: 90%;
  descent-override: 13%;
  line-gap-override: 15%;
}

@font-face {
  font-family: 'ITCAvantGardeGothicW01-Bd-Fallback';
  src: local('Arial Black');
  size-adjust: 91%;
  ascent-override: 110%;
  descent-override: 11%;
  line-gap-override: 21%;
}

@font-face {
  font-family: 'ITCAvantGardeGothicW01-Book-Fallback';
  src: local('Arial Narrow');
  size-adjust: 131%;
  ascent-override: 66%;
  descent-override: 5%;
  line-gap-override: 19%;
}

@font-face {
  font-family: 'ITCAvantGardeGothicW01-Dm-Fallback';
  src: local('Arial');
  size-adjust: 105%;
  ascent-override: 87%;
  descent-override: 9%;
  line-gap-override: 19%;
}

@font-face {
  font-family: 'ITCAvantGardeGothicW01-Md-Fallback';
  src: local('Arial');
  size-adjust: 108%;
  ascent-override: 82%;
  descent-override: 11%;
  line-gap-override: 16%;
}

@font-face {
  font-family: 'ITCAvantGardeGothicW01-MdObl-Fallback';
  src: local('Arial');
  size-adjust: 108%;
  ascent-override: 81%;
  descent-override: 12%;
  line-gap-override: 20%;
}

:root {
  /* colors */
  --clr-dark-grey: #414042; /* alternate dark grey on live site: #212529 */
  --clr-white: #fff;
  --clr-green: #00806e; /* alternate green on live site: #00806f */  
  --clr-orange-brown: #c4622d;
  --clr-yellow: #ffc60b; /* alternate yellow on live site: #ffc107 */
  --text-color: var(--clr-dark-grey);
  --link-color: var(--clr-dark-grey);
  --link-hover-color: var(--clr-dark-grey);
  --background-color: var(--clr-white);;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --header-background-color: var(--clr-green);
  --header-hover-background-color: var(--clr-yellow);
  --header-text-color: var(--clr-white);
  --header-text-hover-color: var(--clr-dark-grey);
  --header-find-doctor-color: #000;
  --header-tools-text-color: var(--clr-dark-grey);
  --header-hamburger-color: var(--clr-green);;
  --footer-background-color: var(--clr-green);
  --footer-text-color: var(--clr-white);;
  --heading-text-color-xxl: var(--clr-green);
  --heading-text-color-xl: var(--clr-green);
  --heading-text-color-l: var(--clr-orange-brown);
  --faq-title-background-color: var(--clr-green);
  --faq-title-color: var(--clr-white);
  --faq-text-color: var(--clr-dark-grey);
  --faq-implant-text-color: var(--clr-orange-brown);
  --list-marker-color: var(--clr-orange-brown);
  --columns-button-color: var(--clr-yellow);
  --conditions-background-color: #f4f4f4;

  /* fonts */
  --ff-ITCAvantGardeGothicW01: 'ITCAvantGardeGothicW01','ITCAvantGardeGothicW01-Bold-Fallback',sans-serif;
  --ff-ITCAvantGardeGothicW01-Demi: 'ITCAvantGardeGothicW01-Demi', 'ITCAvantGardeGothicW01-Demi-Fallback',sans-serif;
  --ff-ITCAvantGardeGothicW01-DmObl: 'ITCAvantGardeGothicW01-DmObl', 'ITCAvantGardeGothicW01-DmObl-Fallback',sans-serif;
  --ff-ITCAvantGardeGothicW01-Bd: 'ITCAvantGardeGothicW01-Bd','ITCAvantGardeGothicW01-Bd-Fallback',sans-serif;
  --ff-ITCAvantGardeGothicW01-Book:'ITCAvantGardeGothicW01-Book', 'ITCAvantGardeGothicW01-Book-Fallback',sans-serif;
  --ff-ITCAvantGardeGothicW01-Dm: 'ITCAvantGardeGothicW01-Dm', 'ITCAvantGardeGothicW01-Dm-Fallback',sans-serif;
  --ff-ITCAvantGardeGothicW01-Md: 'ITCAvantGardeGothicW01-Md','ITCAvantGardeGothicW01-Md-Fallback',sans-serif;
  --ff-ITCAvantGardeGothicW01-MdObl: 'ITCAvantGardeGothicW01-MdObl' ,'ITCAvantGardeGothicW01-MdObl-Fallback',sans-serif;
  --ff-FeltTipRomanW01-Reg: 'FeltTipRomanW01-Reg','FeltTipRomanW01-Reg-Fallback',sans-serif;
  --heading-font-family: sans-serif;
  --body-font-family: var(--ff-ITCAvantGardeGothicW01-Md);
  --strong-font-family: var(--ff-ITCAvantGardeGothicW01-Bd);
  --dm-font-family: var(--ff-ITCAvantGardeGothicW01-Dm);
  --heading-font-family-xxl: var(--ff-ITCAvantGardeGothicW01-Md);
  --heading-font-family-xl: var(--ff-ITCAvantGardeGothicW01-Md);
  --heading-font-family-l: var(--ff-ITCAvantGardeGothicW01-Dm);
  --heading-font-family-m: var(--ff-ITCAvantGardeGothicW01-Bd);
  --heading-font-family-s: var(--ff-ITCAvantGardeGothicW01-Bd);
  --header-tools-font-family: var(--ff-ITCAvantGardeGothicW01-Md);
  --footer-font-family: var(--ff-ITCAvantGardeGothicW01-Book);
  --isi-title-font-family: var(--ff-ITCAvantGardeGothicW01-Bd);
  --find-doctor-font-family: var(--ff-ITCAvantGardeGothicW01-Bd);
  --ff-itc-avant-bold: var(--ff-ITCAvantGardeGothicW01-Bd);
  --ff-itc-avant-md: var(--ff-ITCAvantGardeGothicW01-Md);
  --faq-title-font-family: var(--ff-ITCAvantGardeGothicW01-Dm);
  --faq-link-font-family: var(--ff-ITCAvantGardeGothicW01-Bd);
  --columns-button-family: var(--ff-ITCAvantGardeGothicW01-Bd);
  --sitemap-menu-font-family: var(--ff-ITCAvantGardeGothicW01-Bd);
  --fixed-font-family: "Roboto Mono", menlo, consolas, "Liberation Mono", monospace;

  /* body sizes */
  --body-font-size-l: 23px;
  --body-font-size-m: 18px;
  --body-font-size-s: 16px;
  --body-font-size-xs: 14px;
  --body-font-size-xxs: 12.992px;
  --body-font-size-xxxs: 12px;
  --body-font-size-undefined: 12px;
  --body-line-height: 1.25;

  /* heading sizes */
  --heading-font-size-xxl: 32px;
  --heading-font-size-xl: 30px;
  --heading-font-size-l: 21px;
  --heading-font-size-m: 18px;
  --heading-font-size-s: 16px;
  --heading-font-size-xs: 16px;

  /* nav height */
  --nav-height-mobile: 66px;
  --nav-height-tablet: 66px;
  --nav-height-laptop: 225px;
  --nav-height-desktop: 215px;
  --nav-height-hd: 230px;
  --nav-height: var(--nav-height-mobile);

  /* content width */
  --content-max-width: 1200px;

  /* scrollbar */
  --scrollbar-width: 10px;
}

.media-tablet, .media-laptop, .media-desktop, .media-hd, .media-tablet-plus, .media-laptop-plus, .media-desktop-plus {
  display: none;
}

/* tablet break point */
@media (min-width: 768px) {
   :root {
    --heading-font-size-xxl: 32px;
    --heading-font-size-xl: 32px;
    --heading-font-size-l: 24px;
    --heading-font-size-m: 24px;
    --heading-font-size-s: 18px;
    --heading-font-size-xs: 16px;
    --body-line-height: 1.33;
  }

  .media-mobile {
    display: none;
  }

  .media-tablet, .media-tablet-plus {
    display: unset;
  }
}

/* laptop break point */
@media (min-width: 992px) {
  :root {
    --nav-height: var(--nav-height-laptop);
  }

  .media-tablet, .media-tablet-minus {
    display: none;
  }

  .media-laptop, .media-laptop-plus {
    display: unset;
  }
}

/* desktop break point */
@media (min-width: 1200px) {
  :root {
    --nav-height: var(--nav-height-desktop);
  }

  .media-laptop, .media-laptop-minus {
    display: none;
  }

  .media-desktop, .media-laptop-desktop {
    display: unset;
  }
}

/* hd break point */
@media (min-width: 1366px) {
  :root {
    --nav-height: var(--nav-height-hd);
  }

  .media-desktop, .media-desktop-minus {
    display: none;
  }

  .media-hd {
    display: unset;
  }
}

body {
  font-size: var(--body-font-size-s);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: var(--body-line-height);
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

@media (min-width: 768px) {
  body {
    font-size: var(--body-font-size-m);
  }
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl);
  color: var(--heading-text-color-xxl);
  font-family: var(--heading-font-family-xxl);
  font-style: normal;
  font-weight: 500;
}

h2 {
  font-size: var(--heading-font-size-xl);
  color: var(--heading-text-color-xl);
  font-family: var(--heading-font-family-xl);
  font-weight: 500;
}

h3 {
  font-size: var(--heading-font-size-l);
  color: var(--heading-text-color-l);
  font-family: var(--heading-font-family-l);
  font-weight: 700;
}

h4 { 
  font-size: var(--heading-font-size-m);
  font-family: var(--heading-font-family-m); 
  line-height: 1.33;
  font-weight: 700;
}

@media (min-width: 768px) {
  h4 { 
    line-height: 1;
  }
}

h5 { 
  font-size: var(--heading-font-size-s);
  font-family: var(--heading-font-family-s); 
  line-height: 1.25;
  font-weight: 500;
}
 
@media (min-width: 768px) {
  h5 { 
    line-height: 1.33;
  }
}

h6 { font-size: var(--heading-font-size-xs) }

h1 + h3 {
  margin-top: 0;
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

strong {
  font-family: var(--strong-font-family);
}

sup, sub {
  position: relative;
  font-size: 0.5em;
  font-weight: 400;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -6px;
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--link-color);
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main li:not(:last-child) {
  margin-bottom: 18px;
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

main .section {
  margin: 45px auto 0; /* less that on live site to offset divider negative margins */
  padding: 0 0 1.5rem;
}

main .section > div,
main .section.green-box.carousel-container {
  margin: auto;
  width: 88%;
  max-width: var(--content-max-width);
}

 main .section.green-box > div {
  width: auto;
 }

/* hero/carousel section */
main .section.carousel-container:first-of-type {
  margin-top: 0;
}

main .section:first-of-type > div{
  width: auto;
  max-width: 1440px;
}

@media (max-width: 767px) {
  main .section.about-durysta .columns-wrapper,
  main .section.client-testimonial .columns-wrapper {
    width: auto; /* size is different than default <p> only on tablet down */
  }

  main .section.client-testimonial .columns-wrapper .columns-left {
    width: 88%;
    margin: auto;
  }
}

/* tablet break point */
@media (min-width: 768px) {
   main .section > div,
   main .section.green-box.carousel-container {
    width: 90%;
  }
}

/* section metadata */
main .section.highlight {
  background-color: var(--highlight-background-color);
}

main .section-divider {
  border-top: 10px solid var(--clr-green);
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  box-sizing: border-box;
  margin-top: -22px;
  margin-bottom: -16px;
}

@media (min-width: 768px) {
  main .section-divider {
    margin-top: -24px;
    margin-bottom: -18px;
  }
}

main .default-content-wrapper, main .columns-wrapper {
  overflow-wrap: break-word;
}

main .site-map-description p {
  line-height: 18px;
}

main .site-map-list ul {
  list-style: none;
  text-decoration: underline;
  padding: 0;
}

main .site-map-list ul li {
  margin-bottom: 10px;
}

main .site-map-list ul li a:any-link {
  color: var(--text-color);
}

main .site-map-list ul li:nth-child(-n + 7) a:any-link {
  font-family: var(--sitemap-menu-font-family);
}

main .site-map-description h1, main .site-map-description h2 {
  font-family: var(--sitemap-menu-font-family);
}

main .site-map-description ul {
  margin: 0 20px;
  padding: 0;
}

main .about-durysta ul {
  margin-top: 15px;
  margin-bottom: 30px;
}

main .about-durysta .columns {
  margin-top: 31px;
}

main .about-durysta p > strong {
  display: block;
  margin-bottom: 31px;
}

main .about-durysta li::marker {
  color: var(--list-marker-color);
}

@media (min-width: 768px) {
  main .about-durysta ul {
    margin-top: 30px;
  }

  main .about-durysta .columns {
    margin-top: 16px;
  }

  main .about-durysta .columns-wrapper {
    max-width: 94%;
  }

  main .about-durysta p > strong {
    margin-bottom: 41px;
  }
}
